.product-Carousell-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  gap:60px;
  margin-bottom: 71px;
  max-width: 1500px;
}

@media (max-width: 768px) {
  .product-card {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .product-Carousell-box {
    gap: 15px;
  }

  .product-Carousell-box > * {
    flex: 1 1 calc(50% - 15px);
  }
}
