.footer {
  background-color: #2a2a2a;
  color: #ffffff;
  height: 70px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 22px 93px 22px 93px;
  margin-top: 1px;
}

img {
  height: 32px;
  width: 226.08px;
}
