.card-box {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  min-height: 350px;
  border-radius: 20px;
  max-width: 574px;
  max-height: 350px;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      #000000 85.04%
    ),
    url("../../../assets/shopsample.png");

  button {
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

.card-box2 {
  height: 100%;
  height: 100%;
  border-radius: 20px;
  max-width: 589.73px;
  max-height: 284px;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      #000000 85.04%
    ),
    url("../../../assets/shopsample.png");

  border-radius: 10px;
}

.content-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 40px;

  text-align: left;
  p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
  }

  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 8px;
  }
}

.content-box2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 40px;
  margin-top: 48px;
  margin-bottom: 39px;
  text-align: left;
  p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
  }

  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 8px;
  }
}
